body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    margin-top: 50px;
    /* line-height: 1rem; */
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-bottom: 10px;;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #053335;
    font-weight: bolder;
}
a{
    color:#095353;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:white;
}
.copyright{
    color:#E4F9F5;
    font-size: 0.80rem;
    padding: 20px 0;
}
p{
    line-height: 2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto;
}

.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.into{
    width: 30%;
    margin: auto;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.coding-image{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.computer-image{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 38px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }